.button {
	background: transparent;
	border-radius: 50%;
	cursor: pointer;
	height: 50px;
	outline: none;

	pointer-events: all;
	position: absolute;
	right: 0;
	top: 20px;
	user-select: none;
	width: 50px;
}
