.arrow {
	width: 8%;
	height: 4px;
	background-color: #26282b;
	position: absolute;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	bottom: 40px;

	@media (max-width: 991px) {
		height: 2px;
		width: 6%;
		right: 50px;
	}
}

.blackmove {
	background-color: #26282b;
	height: 100%;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		background-color: #26282b;
		height: 4px;
		width: 25px;
		right: -5px;
		transform: rotate(45deg);
		top: -8px;
		border-radius: 24px;
		@media (max-width: 991px) {
			height: 2px;
			width: 15px;
			top: -5px;
		}
	}
	&::after {
		content: '';
		position: absolute;
		background-color: #26282b;
		height: 4px;
		width: 25px;
		right: -4px;
		transform: rotate(-45deg);
		top: 8px;
		border-radius: 24px;
		@media (max-width: 991px) {
			height: 2px;
			width: 15px;
			top: 5px;
		}
	}
}
