.movingWay {
	width: 57px;
	height: 4px;
	margin-top: -4px;
	position: relative;
	top: -18px;
	display: grid;
	place-items: center;
	position: relative;

	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;

	@media (max-width: 991px) {
		width: 30px;
		height: 2px;
		top: 0px;
	}
	@media (max-width: 768px) {
		background-color: transparent !important;
	}
}

.arrowWrapper {
	position: absolute;
}

.arrow {
	transform: scale(0.9);
	@media (max-width: 768px) {
		transform: scale(0.5);
	}
}

.movingWay {
	&[data-color='dark'] {
		background-color: #26282b;
	}
	&[data-color='light'] {
		background-color: #ffffff;
	}
}

.arrow {
	&[data-color='dark'] {
		color: #26282b;
	}
	&[data-color='light'] {
		color: #ffffff;
	}
}
